@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
        <h2>Welcome to the future of EmbeddedStock</h2>
        <img class="col-md-6" src="https://rukminim1.flixcart.com/image/832/832/hammer/z/k/h/54-115-stanley-original-imadu93axnrrxzy6.jpeg?q=70"/>
    <br/>
    Den hjemmeside er udarbejdet af Kasper Lauge Madsen og Simon Thrane Hansen
</div>
